.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

.heading {
    color: black;
    /* background-color: white; */
    font-family: sans-serif, monospace;
    font-size: 2.5em;
    text-transform: uppercase;

    p {
        text-align: center;
        line-height: 2em;
    }
}

.btn {
    font-size: 1.2em;
    padding: 1em 0.7em;
    border-radius: 0.3em;
    color: white;
    background-color: orange;
    border: 3px solid white;
    cursor: pointer;
}