.loginContainer {
    width: 90%;
    height: 66vh;
    position: absolute;
    background: rgb(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    height: 60%;
    width: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    font-family: sans-serif;
}

.heading {
    text-align: center;
    font-size: 2em;
    color: orange;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.div_box {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    p {
        font-size: 0.9em;
    }
}

.input {
    height: 5vh;
    outline: none;
    border: 0.1em solid rgb(146, 146, 146);
    padding-left: 1.5em;
    border-radius: 0.3em;
}

.error {
    color: red;
    font-size: 0.9em;
}

.btn {
    height: 5vh;
}

.btn2 {
    color: blue;
}

@media screen and (max-width : 750px) {
    .loginContainer {
        width: 97%;
        height: 66vh;
        position: absolute;
        background: rgb(0, 0, 0, 0.17);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background-color: white;
        height: 60%;
        width: 50vh;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        font-family: sans-serif;
    }

    .heading {
        text-align: center;
        font-size: 2em;
        color: orange;
        letter-spacing: 0.2em;
        font-weight: bold;
    }

    .div_box {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        p {
            font-size: 0.9em;
        }
    }

    .input {
        height: 5vh;
        outline: none;
        border: 0.1em solid rgb(146, 146, 146);
        padding-left: 1.5em;
        border-radius: 0.3em;
    }

    .error {
        color: red;
        font-size: 0.9em;
    }

    .btn {
        height: 5vh;
    }

    .btn2 {
        color: blue;
    }
}

@media screen and (max-width : 450px) {
    .loginContainer {
        width: 97%;
        height: 66vh;
        position: absolute;
        background: rgb(0, 0, 0, 0.17);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background-color: white;
        height: 60%;
        width: 40vh;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        font-family: sans-serif;
    }

    .heading {
        text-align: center;
        font-size: 1.5em;
        color: orange;
        letter-spacing: 0.2em;
        font-weight: bold;
    }

    .div_box {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        p {
            font-size: 0.9em;
        }
    }

    .input {
        height: 5vh;
        outline: none;
        border: 0.1em solid rgb(146, 146, 146);
        padding-left: 1.5em;
        border-radius: 0.3em;
    }

    .error {
        color: red;
        font-size: 0.9em;
    }

    .btn {
        height: 5vh;
    }

    .btn2 {
        color: blue;
    }
}